.ed-container {
  width: 100%;
  max-width: 1200px;
  background-color: salmon;
  color: #fff;
  margin-bottom: 1rem;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    border: 1px solid #ffff;
  }
}

.container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  .item:nth-child(4) {
    background-color: orange;
    grid-column: span 2;
    grid-row: span 3;
  }
}

.container-2 {
  display: grid;
  grid-template-columns: 100px 200px 150px;
  gap: 5px 10px;

  .item:nth-child(4) {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .item:nth-child(3) {
    background-color: peru;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .item:nth-child(2) {
    background-color: blueviolet;
    grid-row: 1 / span 3;
  }
}

.container-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .item:nth-child(6) {
    background-color: yellowgreen;
    grid-area: 1 / 1 / 3 / 3;
  }
}
