.ed-container {
  width: 100%;
  max-width: 1200px;
  background-color: salmon;
  color: #fff;
  margin-bottom: 1rem;
}
.ed-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: royalblue;
  border: 1px solid #ffff;
}

.container-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.container-1 .item:nth-child(4) {
  background-color: orange;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 3;
  grid-row: span 3;
}

.container-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 10px 200px 10px 150px;
  grid-template-columns: 100px 200px 150px;
  gap: 5px 10px;
}
.container-2 .item:nth-child(4) {
  background-color: red;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.container-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.container-3 .item:nth-child(3) {
  background-color: peru;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.container-4 .item:nth-child(2) {
  background-color: blueviolet;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/span 3;
}

.container-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.container-5 .item:nth-child(6) {
  background-color: yellowgreen;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/3/3;
}